<p class="alert alert-warning">
    <span class="fas fa-info-circle fa-fw"></span>
    Dane z tego słownika przechowywane są w cache, zarówno wyniki bezpośrednich zapytań do bazy danych jak i wyniki niektorych funkcji w kodzie źródłowym samej aplikacji.<br>
    Po dodaniu/zmianie danych w tym słowniku konieczne jest <strong>ręczne wyczyszczenie cache'y</strong> na serwerze (cache aplikacji, cache systemowy (np. APC)).
</p>
