<div class="card card-cyan">
    <div class="card-body">
        <div class="card-text">
            <div class="card-title">Projekt i wykonanie</div>
            <div class="card-value">Alab Lab.</div>
            <small>ver. {{ version.date }}</small>
        </div>
        <div class="card-icon">
            <span class="fas fa-info-circle fa-3x"></span>
        </div>
    </div>
</div>
