{% extends 'base.html.twig' %}

{% block body %}

    <div class="dashboard">

        <div class="row">
            {% if user_count is defined %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="{{ path('user') }}" data-toggle="tooltip" title="liczba wszystkich takich kont" class="no-decoration">
                        <div class="card card-green">
                            <div class="card-body">
                                <span class="icon fas fa-user-secret green"></span>
                                <h2>Użytkownicy</h2>
                                <h3>{{ user_count }}</h3>
                            </div>
                            <div class="card-footer">
                                Zobacz listę
                                <span class="icon fas fa-arrow-right"></span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

